@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-jua), system-ui, sans-serif;
  }
  
  body {
    font-family: var(--font-jua), system-ui, sans-serif;
  }
}

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: url('/paper.png') repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--foreground);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
